@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&family=Markazi+Text:wght@400;500&display=swap");
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  scroll-behavior: smooth; }

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }

.button {
  font-family: 'Karla', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  width: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;
  height: 5.4rem;
  color: black;
  background-color: #f4ce14;
  border-radius: 16px; }

.button:hover {
  background-color: #f7dd5d;
  cursor: pointer;
  text-decoration: none; }

.time-button {
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  width: 10rem;
  height: 3.5rem;
  background-color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-decoration: none; }

.time-button-selected {
  background-color: #f4ce14; }

.time-button-unavailable {
  background-color: #d2d7d5;
  cursor: default;
  color: #818f88; }

.change-month-button {
  background-color: #495e57;
  border-radius: 100%;
  width: 4rem;
  height: 4rem; }

.section-key {
  display: flex; }

.section-key-group {
  display: flex; }

.section-key-box {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid black;
  margin-right: 1rem; }

.section-key-text {
  color: #495e57;
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  margin-right: 3rem; }

.available {
  background-color: white; }

.not-available {
  background-color: #edefee; }

.selected {
  background-color: #495e57; }

.line-light {
  width: 100%;
  border-bottom: 1px solid #edefee; }

.line-dark {
  width: 100%;
  border-bottom: 1px solid #b5b5b5; }

.calendar-container {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 10rem);
  grid-template-rows: repeat(5, 10rem); }

.calendar-box {
  background-color: white;
  border: 1px solid #edefee;
  cursor: pointer; }

.calendar-box-date {
  color: #495e57;
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  margin-left: 1rem;
  margin-top: 1rem; }

.calendar-box-selected {
  border: 1px solid black;
  background-color: #495e57; }
  .calendar-box-selected .calendar-box-date {
    color: white; }

.calendar-box-unavailable {
  background-color: #edefee;
  border: 1px solid #e0e3e1;
  cursor: default; }
  .calendar-box-unavailable .calendar-box-date {
    color: #b7bfbb; }

.small-seating {
  display: flex;
  flex-direction: column;
  align-items: center; }

.inner-seating {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.small-table {
  background-color: black;
  width: 4rem;
  height: 4rem;
  margin: 0.5rem; }

.seating-unavailable {
  background-color: #edefee; }

.chair-top {
  background-color: black;
  width: 2rem;
  height: 2rem;
  border-radius: 100% 100% 0 0; }

.chair-bottom {
  background-color: black;
  width: 2rem;
  height: 2rem;
  border-radius: 0 0 100% 100%; }

.chair-right {
  background-color: black;
  width: 2rem;
  height: 2rem;
  border-radius: 0 100% 100% 0; }

.chair-left {
  background-color: black;
  width: 2rem;
  height: 2rem;
  border-radius: 100% 0 0 100%; }

.seating-available {
  background-color: white;
  border: gray; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1060px;
  margin: 6rem 30rem; }

.header-logo {
  width: 200px; }

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none; }

nav ul li a {
  color: #333333;
  font-family: 'Karla', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 6rem;
  text-decoration: none; }

nav ul li a:hover {
  color: #f4ce14; }

.active {
  color: #495e57;
  border-bottom: 2px solid #495e57; }

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; }

.full-width-container {
  display: flex;
  justify-content: center;
  background-color: #495e57;
  width: 100%; }

.hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  width: 100%;
  max-width: 1060px;
  margin: 6rem 30rem 12rem; }

.hero-image {
  position: absolute;
  bottom: -10rem;
  right: 0;
  width: 40rem;
  border-radius: 16px; }

.hero-title {
  font-family: 'Markazi Text', serif;
  font-size: 6.4rem;
  font-weight: 400;
  color: #f4ce14; }

.hero-sub-title {
  margin-top: -2rem;
  margin-bottom: 1.4rem;
  font-family: 'Markazi Text', serif;
  font-size: 4rem;
  font-weight: 300;
  color: white; }

.hero-description {
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  width: 25rem;
  margin-bottom: 4rem; }

.specials-section {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  max-width: 1060px;
  margin: 6rem 30rem;
  scroll-margin-top: 6rem; }

.specials-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem; }

.specials-title {
  font-family: 'Markazi Text', serif;
  font-size: 6.4rem;
  font-weight: 400; }

.specials-cards {
  display: flex;
  gap: 4.5rem;
  width: 100%; }

.special-card {
  width: 33.333%;
  background-color: #edefee;
  border-radius: 16px 16px 0 0; }

.special-card-image {
  width: 100%;
  border-radius: 16px 16px 0 0;
  margin-bottom: 1.5rem; }

.special-card-content {
  padding: 0 2.4rem; }

.special-card-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem; }

.special-card-title-name {
  font-family: 'Karla', sans-serif;
  font-size: 1.8rem;
  font-weight: 700; }

.special-card-title-price {
  font-family: 'Karla', sans-serif;
  font-size: 1.8rem;
  font-weight: 500; }

.special-card-description {
  color: #495e57;
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 4rem; }

.special-card-order {
  display: flex;
  margin-bottom: 3rem; }

.special-card-order-text {
  font-family: 'Karla', sans-serif;
  font-size: 1.8rem;
  font-weight: 700; }

.cart {
  margin-left: 2rem;
  width: 20px; }

.testimonial-section {
  display: flex;
  flex-direction: column;
  max-width: 1060px;
  margin: 6rem 30rem; }

.testimonial-section-title {
  margin-top: 2rem;
  font-family: 'Markazi Text', serif;
  font-size: 6.4rem;
  font-weight: 400;
  color: white; }

.testimonial-section-cards {
  display: flex;
  gap: 5em; }

.testimonial-card {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: white;
  border-radius: 16px; }

.testimonial-card-stars {
  width: 10rem;
  align-self: center;
  margin: 1.5rem 0; }

.testimonial-card-image {
  width: 100%;
  border-radius: 16px 16px 0 0; }

.testimonial-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 2.4em; }

.testimonial-card-quote {
  color: #495e57;
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 2rem; }

.testimonial-card-name {
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  align-self: flex-end;
  margin-bottom: 1.5rem; }

.about-section {
  position: relative;
  padding: 2rem 0 24rem;
  max-width: 1060px;
  margin: 6rem 30rem;
  scroll-margin-top: 6rem; }

.about-images {
  position: absolute;
  top: 0;
  right: 0; }

.about-bottom-image {
  position: absolute;
  top: 17.5rem;
  right: 14rem;
  height: 35rem;
  width: 28rem;
  border-radius: 16px; }

.about-top-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 28rem;
  height: 35rem;
  border-radius: 16px; }

.about-title {
  font-family: 'Markazi Text', serif;
  font-size: 6.4rem;
  font-weight: 400;
  color: #f4ce14; }

.about-sub-title {
  margin-top: -2rem;
  margin-bottom: 1.4rem;
  font-family: 'Markazi Text', serif;
  font-size: 4rem;
  font-weight: 300;
  color: black; }

.about-description {
  color: #495e57;
  font-family: 'Karla', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  width: 50%; }

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 0;
  max-width: 1060px;
  margin: 6rem 30rem; }

.footer-nav-link-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem; }

.footer-image {
  width: 15rem;
  border-radius: 16px; }

.footer-nav-heading {
  font-family: 'Karla', sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  color: #f4ce14;
  margin-bottom: 1rem; }

.footer-nav-link {
  display: block;
  color: #495e57;
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  color: #edefee;
  text-decoration: none; }

.footer-info {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.copyright {
  color: #495e57;
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  color: white; }

.footer-socials {
  display: flex; }

.footer-icon {
  margin-left: 2rem; }

.available-dates-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 0;
  max-width: 1060px;
  margin: 6rem 30rem; }

.available-dates-title {
  font-family: 'Markazi Text', serif;
  font-size: 6.4rem;
  font-weight: 400; }

.available-dates-subtitle {
  font-family: 'Karla', sans-serif;
  font-size: 3rem;
  font-weight: 700; }

.available-dates-key {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.time-buttons-section {
  display: flex;
  gap: 1rem; }

.available-times-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1060px;
  margin: 6rem 30rem; }

.available-times-subtitle {
  font-family: 'Karla', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: white; }

.available-times-key {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem; }

.time-category {
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem; }

.time-buttons-section {
  margin-bottom: 1.5rem; }

.seating-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1060px;
  margin: 6rem 30rem; }

.seating-subtitle {
  font-family: 'Karla', sans-serif;
  font-size: 3rem;
  font-weight: 700; }

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem; }

.not-found-title {
  font-family: 'Markazi Text', serif;
  font-size: 6.4rem;
  font-weight: 400;
  color: #f4ce14; }

.not-found-subtitle {
  font-family: 'Markazi Text', serif;
  font-size: 4rem;
  font-weight: 300;
  margin-top: -2rem;
  margin-bottom: 1.4rem;
  color: white; }

.not-found-text {
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  width: 25rem;
  margin-bottom: 4rem;
  text-align: center;
  width: 100%; }
